///////////////////////////
/// 1.- COLORES
//////////////////////////
$mcPrincipal: #F79E1B;
$mcSecundario: #FF5F00;
$mcTerciario: #EB001B;

//////////////////////////////
/// 2.- MODIFICANDO VARIABLES
/////////////////////////////
$primary: mcPrincipal;
$secondary: mcSecundario;
$warning: mcTerciario;

////////////////////////////
/// 3.- TIPOGRAFÍA
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
///////////////////////////
:root{
    --bs-body-font-family: "Montserrat", sans-serif;
}
//////////////////////////////

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../lib/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here